body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#dial span {
  font: 26px Monaco, MonoSpace;
  height: 25%;
  position: absolute;
  top: 6%;
  width: 20%;
  transform-origin: bottom center;
}

#hands {
  position: absolute;
  top: 30%;
  width: 20%;
  height: 100%;
}

#hour {
  width: 2%;
  height: 10%;
  background-color: black;
  position: absolute;
  transform-origin: top;
}

#minute {
  width: 2%;
  height: 15%;
  background-color: black;
  position: absolute;
  transform-origin: top;
}

#second {
  width: 1%;
  height: 20%;
  background-color: red;
  position: absolute;
  transform-origin: top;
}
